In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from openpyxl import Workbook
from openpyxl import load_workbook

In [2]:
TODAY = "2021-05-17"
TODAY_DATE = f"{TODAY} 00:00:00.csv"
HEADINGS = ["HH", "HL", "HHL", "LH", "LL", "LHL"]

In [3]:
workbook = load_workbook(filename="../data/output/sheets/daily_high_lows.xlsx")
sheet = workbook.active

In [4]:
EXCEL_MAPPING = {
    "HH_STOCKS" : "B17:B26",
    "HH_VALUES" : "C17:C26",
    
    "HL_STOCKS" : "E17:E26",
    "HL_VALUES" : "F17:F26",

    "HHL_STOCKS" : "H17:H26",
    "HHL_VALUES" : "I17:I26",

    "LH_STOCKS" : "B31:B40",
    "LH_VALUES" : "C31:C40",

    "LL_STOCKS" : "E31:E40",
    "LL_VALUES" : "F31:F40",

    "LHL_STOCKS" : "H31:H40",
    "LHL_VALUES" : "I31:I40"
}


NEGATE_EXCEL_MAPPING = {
    "HH_STOCKS" : "K17:K26",
    "HH_VALUES" : "L17:L26",
    
    "HL_STOCKS" : "N17:N26",
    "HL_VALUES" : "O17:O26",

    "HHL_STOCKS" : "Q17:Q26",
    "HHL_VALUES" : "R17:R26",

    "LH_STOCKS" : "K31:K40",
    "LH_VALUES" : "L31:L40",

    "LL_STOCKS" : "N31:N40",
    "LL_VALUES" : "O31:O40",

    "LHL_STOCKS" : "Q31:Q40",
    "LHL_VALUES" : "R31:R40"
}

In [5]:
def write_to_excel(HEADING, EXCEL_MAPPING, data_df):

    temp_data_df = data_df[['NAME',HEADING,'CLOSE']].sort_values([HEADING,'CLOSE'], ascending=False).head(10)
    print(temp_data_df)

    excel_data = temp_data_df[['NAME', HEADING]].values
    print(excel_data)
    try:
        for index,i in enumerate(sheet[EXCEL_MAPPING[f"{HEADING}_STOCKS"]]):
            i[0].value = excel_data[index][0]
    except:
        print("LESS THAN 10 VALUES")
        

    try:
        for index,i in enumerate(sheet[EXCEL_MAPPING[f"{HEADING}_VALUES"]]):
            i[0].value = excel_data[index][1]
        
    except :
        print("LESS THAN 10 VALUES")
        
    return True

In [6]:
data_df = pd.read_csv(f"../data/output/daily/{str(TODAY_DATE)[:10]}.csv")
for h in HEADINGS:
    write_to_excel(h, EXCEL_MAPPING, data_df)

           NAME  HH    CLOSE
48       COLPAL   7  1596.60
170  SRTRANSFIN   7  1389.05
32   BERGEPAINT   7   768.05
190         UPL   6   770.75
3         ABFRL   6   189.25
155     POLYCAB   5  1674.20
29    BATAINDIA   4  1406.40
185       TRENT   4   795.15
39    BRITANNIA   3  3507.25
54        DABUR   3   534.35
[['COLPAL' 7]
 ['SRTRANSFIN' 7]
 ['BERGEPAINT' 7]
 ['UPL' 6]
 ['ABFRL' 6]
 ['POLYCAB' 5]
 ['BATAINDIA' 4]
 ['TRENT' 4]
 ['BRITANNIA' 3]
 ['DABUR' 3]]
           NAME  HL    CLOSE
48       COLPAL  10  1596.60
128  MCDOWELL-N   9   566.45
144         OIL   6   131.70
2     ABCAPITAL   6   125.45
84      HDFCAMC   5  2822.15
106     IPCALAB   5  2180.00
190         UPL   5   770.75
175  TATACONSUM   5   653.30
156   POWERGRID   5   228.40
113    JUBLFOOD   4  2816.15
[['COLPAL' 10]
 ['MCDOWELL-N' 9]
 ['OIL' 6]
 ['ABCAPITAL' 6]
 ['HDFCAMC' 5]
 ['IPCALAB' 5]
 ['UPL' 5]
 ['TATACONSUM' 5]
 ['POWERGRID' 5]
 ['JUBLFOOD' 4]]
           NAME  HHL    CLOSE
48       COLPAL    7  1596.60
190         UPL    5   770.75
32   BERGEPAINT    4   768.05
3         ABFRL    4   189.25
39    BRITANNIA    3  3507.25
155     POLYCAB    3  1674.20
185       TRENT    3   795.15
54        DABUR    3   534.35
159     RBLBANK    3   197.00
61        DMART    2  2898.70
[['COLPAL' 7]
 ['UPL' 5]
 ['BERGEPAINT' 4]
 ['ABFRL' 4]
 ['BRITANNIA' 3]
 ['POLYCAB' 3]
 ['TRENT' 3]
 ['DABUR' 3]
 ['RBLBANK' 3]
 ['DMART' 2]]
           NAME  LH     CLOSE
138      NAUKRI   6   4256.50
65    ENDURANCE   6   1315.30
14   APOLLOHOSP   5   3152.35
117  LAURUSLABS   5    474.05
151        PGHH   4  13431.45
58     DIVISLAB   4   4043.25
180         TCS   4   3069.75
116  LALPATHLAB   4   2751.85
77       GRASIM   4   1393.85
191         VBL   4    973.45
[['NAUKRI' 6]
 ['ENDURANCE' 6]
 ['APOLLOHOSP' 5]
 ['LAURUSLABS' 5]
 ['PGHH' 4]
 ['DIVISLAB' 4]
 ['TCS' 4]
 ['LALPATHLAB' 4]
 ['GRASIM' 4]
 ['VBL' 4]]
           NAME  LL    CLOSE
138      NAUKRI   6  4256.50
163      SANOFI   4  7719.10
180         TCS   4  3069.75
116  LALPATHLAB   4  2751.85
133     MPHASIS   4  1762.40
85     HDFCBANK   4  1440.25
179   TATASTEEL   4  1150.85
66      ESCORTS   4  1142.05
130         MGL   4  1106.95
165     SBILIFE   4   963.65
[['NAUKRI' 6]
 ['SANOFI' 4]
 ['TCS' 4]
 ['LALPATHLAB' 4]
 ['MPHASIS' 4]
 ['HDFCBANK' 4]
 ['TATASTEEL' 4]
 ['ESCORTS' 4]
 ['MGL' 4]
 ['SBILIFE' 4]]
           NAME  LHL     CLOSE
138      NAUKRI    6   4256.50
180         TCS    4   3069.75
116  LALPATHLAB    4   2751.85
123         M&M    4    753.55
117  LAURUSLABS    4    474.05
162        SAIL    4    130.55
151        PGHH    3  13431.45
150      PFIZER    3   5217.85
133     MPHASIS    3   1762.40
130         MGL    3   1106.95
[['NAUKRI' 6]
 ['TCS' 4]
 ['LALPATHLAB' 4]
 ['M&M' 4]
 ['LAURUSLABS' 4]
 ['SAIL' 4]
 ['PGHH' 3]
 ['PFIZER' 3]
 ['MPHASIS' 3]
 ['MGL' 3]]

In [7]:
for h in HEADINGS:
    data_file = pd.read_csv(f"../data/output/negate/daily/{h}.csv")
    write_to_excel(h, NEGATE_EXCEL_MAPPING, data_file)

         NAME  HH    CLOSE
0  ADANITRANS   7  1143.40
1     HDFCAMC   4  2799.45
2  PIDILITIND   4  1888.25
3        BBTC   4  1205.25
4  COROMANDEL   4   769.75
5       CANBK   4   147.55
[['ADANITRANS' 7]
 ['HDFCAMC' 4]
 ['PIDILITIND' 4]
 ['BBTC' 4]
 ['COROMANDEL' 4]
 ['CANBK' 4]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
      NAME  HL   CLOSE
0   MARUTI   8  6736.4
1  SIEMENS   6  1993.0
[['MARUTI' 8]
 ['SIEMENS' 6]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
       NAME  HHL    CLOSE
0      BBTC    3  1205.25
1    MARUTI    2  6736.40
2    INDIGO    1  1694.75
3     CIPLA    1   904.05
4  HDFCLIFE    1   670.60
[['BBTC' 3]
 ['MARUTI' 2]
 ['INDIGO' 1]
 ['CIPLA' 1]
 ['HDFCLIFE' 1]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
         NAME  LH    CLOSE
0  BAJFINANCE   7  5330.35
1   TATAELXSI   7  3481.80
2   INDIAMART   5  6808.90
3    RAMCOCEM   5   931.85
4        MFSL   5   881.50
5         CUB   5   163.10
6         ACC   4  1876.80
7        INFY   4  1316.40
8     SBILIFE   4   978.40
9    AXISBANK   4   685.00
[['BAJFINANCE' 7]
 ['TATAELXSI' 7]
 ['INDIAMART' 5]
 ['RAMCOCEM' 5]
 ['MFSL' 5]
 ['CUB' 5]
 ['ACC' 4]
 ['INFY' 4]
 ['SBILIFE' 4]
 ['AXISBANK' 4]]
         NAME  LL     CLOSE
0  BAJFINANCE   5   5330.35
1    RAMCOCEM   5    931.85
2     PAGEIND   4  28033.70
3  APOLLOHOSP   4   3140.95
4   WHIRLPOOL   4   2095.95
5    RELIANCE   4   1937.30
6      GRASIM   4   1367.00
7        INFY   4   1316.40
8   ENDURANCE   4   1299.75
9    ADANIENT   4   1220.35
[['BAJFINANCE' 5]
 ['RAMCOCEM' 5]
 ['PAGEIND' 4]
 ['APOLLOHOSP' 4]
 ['WHIRLPOOL' 4]
 ['RELIANCE' 4]
 ['GRASIM' 4]
 ['INFY' 4]
 ['ENDURANCE' 4]
 ['ADANIENT' 4]]
         NAME  LHL     CLOSE
0  BAJFINANCE    5   5330.35
1    RAMCOCEM    5    931.85
2        INFY    4   1316.40
3        MFSL    4    881.50
4   GUJGASLTD    4    515.40
5         CUB    4    163.10
6     PAGEIND    3  28033.70
7        HDFC    3   2422.00
8   KOTAKBANK    3   1706.65
9  MUTHOOTFIN    3   1167.95
[['BAJFINANCE' 5]
 ['RAMCOCEM' 5]
 ['INFY' 4]
 ['MFSL' 4]
 ['GUJGASLTD' 4]
 ['CUB' 4]
 ['PAGEIND' 3]
 ['HDFC' 3]
 ['KOTAKBANK' 3]
 ['MUTHOOTFIN' 3]]

In [8]:
workbook.save(filename=f"../data/output/sheets/{str(TODAY)[:10]}_high_lows.xlsx")