In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from openpyxl import Workbook
from openpyxl import load_workbook

In [2]:
TODAY = "2021-04-23"
TODAY_DATE = f"{TODAY} 00:00:00.csv"
HEADINGS = ["HH", "HL", "HHL", "LH", "LL", "LHL"]

In [3]:
workbook = load_workbook(filename="../data/output/sheets/daily_high_lows.xlsx")
sheet = workbook.active

In [4]:
EXCEL_MAPPING = {
    "HH_STOCKS" : "B17:B26",
    "HH_VALUES" : "C17:C26",
    
    "HL_STOCKS" : "E17:E26",
    "HL_VALUES" : "F17:F26",

    "HHL_STOCKS" : "H17:H26",
    "HHL_VALUES" : "I17:I26",

    "LH_STOCKS" : "B31:B40",
    "LH_VALUES" : "C31:C40",

    "LL_STOCKS" : "E31:E40",
    "LL_VALUES" : "F31:F40",

    "LHL_STOCKS" : "H31:H40",
    "LHL_VALUES" : "I31:I40"
}


NEGATE_EXCEL_MAPPING = {
    "HH_STOCKS" : "K17:K26",
    "HH_VALUES" : "L17:L26",
    
    "HL_STOCKS" : "N17:N26",
    "HL_VALUES" : "O17:O26",

    "HHL_STOCKS" : "Q17:Q26",
    "HHL_VALUES" : "R17:R26",

    "LH_STOCKS" : "K31:K40",
    "LH_VALUES" : "L31:L40",

    "LL_STOCKS" : "N31:N40",
    "LL_VALUES" : "O31:O40",

    "LHL_STOCKS" : "Q31:Q40",
    "LHL_VALUES" : "R31:R40"
}

In [5]:
def write_to_excel(HEADING, EXCEL_MAPPING, data_df):

    temp_data_df = data_df[['NAME',HEADING,'CLOSE']].sort_values([HEADING,'CLOSE'], ascending=False).head(10)
    print(temp_data_df)

    excel_data = temp_data_df[['NAME', HEADING]].values
    print(excel_data)
    try:
        for index,i in enumerate(sheet[EXCEL_MAPPING[f"{HEADING}_STOCKS"]]):
            i[0].value = excel_data[index][0]
    except:
        print("LESS THAN 10 VALUES")
        

    try:
        for index,i in enumerate(sheet[EXCEL_MAPPING[f"{HEADING}_VALUES"]]):
            i[0].value = excel_data[index][1]
        
    except :
        print("LESS THAN 10 VALUES")
        
    return True

In [6]:
data_df = pd.read_csv(f"../data/output/weekly/{str(TODAY_DATE)[:10]}.csv")
for h in HEADINGS:
    write_to_excel(h, EXCEL_MAPPING, data_df)

           NAME  HH    CLOSE
112    JSWSTEEL   6   635.40
11       APLLTD   5   998.05
19   AUROPHARMA   5   993.35
121  LAURUSLABS   5   463.35
147      PFIZER   4  5175.70
63      DRREDDY   4  5066.70
138  NAVINFLUOR   4  3172.20
110     IPCALAB   4  2101.35
122       LUPIN   4  1076.25
46        CIPLA   4   935.60
[['JSWSTEEL' 6]
 ['APLLTD' 5]
 ['AUROPHARMA' 5]
 ['LAURUSLABS' 5]
 ['PFIZER' 4]
 ['DRREDDY' 4]
 ['NAVINFLUOR' 4]
 ['IPCALAB' 4]
 ['LUPIN' 4]
 ['CIPLA' 4]]
           NAME  HL    CLOSE
161         SRF   5  6170.90
147      PFIZER   5  5175.70
63      DRREDDY   5  5066.70
60     DIVISLAB   5  3779.75
138  NAVINFLUOR   5  3172.20
2      AARTIIND   5  1462.80
11       APLLTD   5   998.05
19   AUROPHARMA   5   993.35
46        CIPLA   5   935.60
178   TATASTEEL   5   925.60
[['SRF' 5]
 ['PFIZER' 5]
 ['DRREDDY' 5]
 ['DIVISLAB' 5]
 ['NAVINFLUOR' 5]
 ['AARTIIND' 5]
 ['APLLTD' 5]
 ['AUROPHARMA' 5]
 ['CIPLA' 5]
 ['TATASTEEL' 5]]
           NAME  HHL    CLOSE
11       APLLTD    5   998.05
19   AUROPHARMA    5   993.35
121  LAURUSLABS    5   463.35
147      PFIZER    4  5175.70
63      DRREDDY    4  5066.70
138  NAVINFLUOR    4  3172.20
122       LUPIN    4  1076.25
46        CIPLA    4   935.60
168   SUNPHARMA    4   637.95
42     CADILAHC    4   570.90
[['APLLTD' 5]
 ['AUROPHARMA' 5]
 ['LAURUSLABS' 5]
 ['PFIZER' 4]
 ['DRREDDY' 4]
 ['NAVINFLUOR' 4]
 ['LUPIN' 4]
 ['CIPLA' 4]
 ['SUNPHARMA' 4]
 ['CADILAHC' 4]]
           NAME  LH    CLOSE
195   WHIRLPOOL  11  2131.70
193        IDEA  10     8.45
166        SBIN   9   336.45
106  INDUSINDBK   8   850.00
48    COALINDIA   8   126.15
86   HEROMOTOCO   7  2864.05
77   GODREJPROP   7  1312.95
30    BATAINDIA   7  1303.05
88          HAL   7   956.85
13   AMARAJABAT   7   800.55
[['WHIRLPOOL' 11]
 ['IDEA' 10]
 ['SBIN' 9]
 ['INDUSINDBK' 8]
 ['COALINDIA' 8]
 ['HEROMOTOCO' 7]
 ['GODREJPROP' 7]
 ['BATAINDIA' 7]
 ['HAL' 7]
 ['AMARAJABAT' 7]]
           NAME  LL     CLOSE
129      MARUTI   6   6676.10
115   KOTAKBANK   6   1734.20
30    BATAINDIA   6   1303.05
99   IBULHSGFIN   6    177.10
27   BANDHANBNK   4    313.45
123         MRF   3  78214.15
186  ULTRACEMCO   3   6067.90
23   BAJFINANCE   3   4667.80
22   BAJAJ-AUTO   3   3672.50
20        DMART   3   2713.70
[['MARUTI' 6]
 ['KOTAKBANK' 6]
 ['BATAINDIA' 6]
 ['IBULHSGFIN' 6]
 ['BANDHANBNK' 4]
 ['MRF' 3]
 ['ULTRACEMCO' 3]
 ['BAJFINANCE' 3]
 ['BAJAJ-AUTO' 3]
 ['DMART' 3]]
           NAME  LHL    CLOSE
129      MARUTI    6  6676.10
30    BATAINDIA    6  1303.05
99   IBULHSGFIN    6   177.10
23   BAJFINANCE    3  4667.80
64    EICHERMOT    3  2317.30
195   WHIRLPOOL    3  2131.70
158    RELIANCE    3  1904.35
120          LT    3  1322.90
67      ESCORTS    3  1138.40
124         MGL    3  1108.85
[['MARUTI' 6]
 ['BATAINDIA' 6]
 ['IBULHSGFIN' 6]
 ['BAJFINANCE' 3]
 ['EICHERMOT' 3]
 ['WHIRLPOOL' 3]
 ['RELIANCE' 3]
 ['LT' 3]
 ['ESCORTS' 3]
 ['MGL' 3]]

In [7]:
for h in HEADINGS:
    data_file = pd.read_csv(f"../data/output/negate/weekly/{h}.csv")
    write_to_excel(h, NEGATE_EXCEL_MAPPING, data_file)

         NAME  HH    CLOSE
0  HINDUNILVR   7  2458.90
1    MINDTREE   7  2069.65
2  LALPATHLAB   6  2920.20
3  ASIANPAINT   6  2663.70
4    DIVISLAB   4  3821.85
5   BRITANNIA   4  3696.50
6  TORNTPHARM   4  2619.50
7       DABUR   4   575.00
8      MARICO   4   423.95
9    HINDALCO   4   370.00
[['HINDUNILVR' 7]
 ['MINDTREE' 7]
 ['LALPATHLAB' 6]
 ['ASIANPAINT' 6]
 ['DIVISLAB' 4]
 ['BRITANNIA' 4]
 ['TORNTPHARM' 4]
 ['DABUR' 4]
 ['MARICO' 4]
 ['HINDALCO' 4]]
         NAME  HL    CLOSE
0    JSWSTEEL   8    619.4
1  LALPATHLAB   7   2920.2
2  HINDUNILVR   7   2458.9
3   NESTLEIND   4  17252.1
4   BRITANNIA   4   3696.5
5  TORNTPHARM   4   2619.5
[['JSWSTEEL' 8]
 ['LALPATHLAB' 7]
 ['HINDUNILVR' 7]
 ['NESTLEIND' 4]
 ['BRITANNIA' 4]
 ['TORNTPHARM' 4]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
         NAME  HHL    CLOSE
0  HINDUNILVR    7  2458.90
1  LALPATHLAB    6  2920.20
2   BRITANNIA    4  3696.50
3  TORNTPHARM    4  2619.50
4      SANOFI    3  8047.70
5  NATCOPHARM    3   922.20
6    HDFCLIFE    3   690.65
7  ASIANPAINT    1  2663.70
[['HINDUNILVR' 7]
 ['LALPATHLAB' 6]
 ['BRITANNIA' 4]
 ['TORNTPHARM' 4]
 ['SANOFI' 3]
 ['NATCOPHARM' 3]
 ['HDFCLIFE' 3]
 ['ASIANPAINT' 1]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
       NAME  LH    CLOSE
0   SBICARD   6   973.70
1      BPCL   6   413.80
2      ZEEL   6   193.95
3     IRCTC   5  1627.45
4  AXISBANK   5   669.20
[['SBICARD' 6]
 ['BPCL' 6]
 ['ZEEL' 6]
 ['IRCTC' 5]
 ['AXISBANK' 5]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
         NAME  LL    CLOSE
0         IOC   6    90.15
1  HEROMOTOCO   5  2894.85
2         PEL   5  1720.05
3         M&M   5   821.65
4       TRENT   5   743.65
5         PFC   5   109.10
[['IOC' 6]
 ['HEROMOTOCO' 5]
 ['PEL' 5]
 ['M&M' 5]
 ['TRENT' 5]
 ['PFC' 5]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
         NAME  LHL    CLOSE
0    JUBLFOOD    2  2820.65
1  BALKRISIND    2  1687.35
2         UBL    2  1100.00
3     SBICARD    2   973.70
4  CUMMINSIND    2   849.10
5    AXISBANK    2   669.20
6   ICICIBANK    2   566.95
7        ZEEL    2   193.95
8  BAJAJHLDNG    1  3378.25
9  ADANITRANS    1   991.35
[['JUBLFOOD' 2]
 ['BALKRISIND' 2]
 ['UBL' 2]
 ['SBICARD' 2]
 ['CUMMINSIND' 2]
 ['AXISBANK' 2]
 ['ICICIBANK' 2]
 ['ZEEL' 2]
 ['BAJAJHLDNG' 1]
 ['ADANITRANS' 1]]

In [8]:
workbook.save(filename=f"../data/output/sheets/{str(TODAY)[:10]}_high_lows_weekly.xlsx")