In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from openpyxl import Workbook
from openpyxl import load_workbook

In [2]:
TODAY = "2021-04-22"
TODAY_DATE = f"{TODAY} 00:00:00.csv"
HEADINGS = ["HH", "HL", "HHL", "LH", "LL", "LHL"]

In [3]:
workbook = load_workbook(filename="../data/output/sheets/daily_high_lows.xlsx")
sheet = workbook.active

In [4]:
EXCEL_MAPPING = {
    "HH_STOCKS" : "B17:B26",
    "HH_VALUES" : "C17:C26",
    
    "HL_STOCKS" : "E17:E26",
    "HL_VALUES" : "F17:F26",

    "HHL_STOCKS" : "H17:H26",
    "HHL_VALUES" : "I17:I26",

    "LH_STOCKS" : "B31:B40",
    "LH_VALUES" : "C31:C40",

    "LL_STOCKS" : "E31:E40",
    "LL_VALUES" : "F31:F40",

    "LHL_STOCKS" : "H31:H40",
    "LHL_VALUES" : "I31:I40"
}


NEGATE_EXCEL_MAPPING = {
    "HH_STOCKS" : "K17:K26",
    "HH_VALUES" : "L17:L26",
    
    "HL_STOCKS" : "N17:N26",
    "HL_VALUES" : "O17:O26",

    "HHL_STOCKS" : "Q17:Q26",
    "HHL_VALUES" : "R17:R26",

    "LH_STOCKS" : "K31:K40",
    "LH_VALUES" : "L31:L40",

    "LL_STOCKS" : "N31:N40",
    "LL_VALUES" : "O31:O40",

    "LHL_STOCKS" : "Q31:Q40",
    "LHL_VALUES" : "R31:R40"
}

In [5]:
def write_to_excel(HEADING, EXCEL_MAPPING, data_df):

    temp_data_df = data_df[['NAME',HEADING,'CLOSE']].sort_values([HEADING,'CLOSE'], ascending=False).head(10)
    print(temp_data_df)

    excel_data = temp_data_df[['NAME', HEADING]].values
    print(excel_data)
    try:
        for index,i in enumerate(sheet[EXCEL_MAPPING[f"{HEADING}_STOCKS"]]):
            i[0].value = excel_data[index][0]
    except:
        print("LESS THAN 10 VALUES")
        

    try:
        for index,i in enumerate(sheet[EXCEL_MAPPING[f"{HEADING}_VALUES"]]):
            i[0].value = excel_data[index][1]
        
    except :
        print("LESS THAN 10 VALUES")
        
    return True

In [6]:
data_df = pd.read_csv(f"../data/output/daily/{str(TODAY_DATE)[:10]}.csv")
for h in HEADINGS:
    write_to_excel(h, EXCEL_MAPPING, data_df)

           NAME  HH    CLOSE
150      PFIZER   8  5221.55
8    ADANITRANS   5  1050.70
19   AUROPHARMA   5   993.20
62      DRREDDY   4  5199.85
138      NAUKRI   4  4827.55
59        DIXON   4  3940.30
14   APOLLOHOSP   4  3228.95
122       LUPIN   4  1060.75
40     CADILAHC   4   552.55
9    AJANTPHARM   3  1830.30
[['PFIZER' 8]
 ['ADANITRANS' 5]
 ['AUROPHARMA' 5]
 ['DRREDDY' 4]
 ['NAUKRI' 4]
 ['DIXON' 4]
 ['APOLLOHOSP' 4]
 ['LUPIN' 4]
 ['CADILAHC' 4]
 ['AJANTPHARM' 3]]
           NAME  HL     CLOSE
13       APLLTD   6   1004.90
173     SYNGENE   6    605.35
88     HINDALCO   6    355.85
40     CADILAHC   5    552.55
196       WIPRO   5    486.65
59        DIXON   4   3940.30
14   APOLLOHOSP   4   3228.95
153       PIIND   4   2576.65
117  LAURUSLABS   3    453.75
1    ABBOTINDIA   2  15108.70
[['APLLTD' 6]
 ['SYNGENE' 6]
 ['HINDALCO' 6]
 ['CADILAHC' 5]
 ['WIPRO' 5]
 ['DIXON' 4]
 ['APOLLOHOSP' 4]
 ['PIIND' 4]
 ['LAURUSLABS' 3]
 ['ABBOTINDIA' 2]]
           NAME  HHL     CLOSE
59        DIXON    4   3940.30
14   APOLLOHOSP    4   3228.95
40     CADILAHC    4    552.55
1    ABBOTINDIA    2  15108.70
62      DRREDDY    2   5199.85
138      NAUKRI    2   4827.55
21   BAJAJ-AUTO    2   3681.40
153       PIIND    2   2576.65
9    AJANTPHARM    2   1830.30
155     POLYCAB    2   1431.65
[['DIXON' 4]
 ['APOLLOHOSP' 4]
 ['CADILAHC' 4]
 ['ABBOTINDIA' 2]
 ['DRREDDY' 2]
 ['NAUKRI' 2]
 ['BAJAJ-AUTO' 2]
 ['PIIND' 2]
 ['AJANTPHARM' 2]
 ['POLYCAB' 2]]
           NAME  LH     CLOSE
121        LTTS   7   2551.70
30         BBTC   7   1164.00
163      SANOFI   6   7608.35
90   HINDUNILVR   5   2349.40
72     GMRINFRA   5     23.00
191         VBL   4    890.70
43         CESC   4    580.80
157    PRESTIGE   4    276.75
159     RBLBANK   4    176.35
151        PGHH   3  13610.85
[['LTTS' 7]
 ['BBTC' 7]
 ['SANOFI' 6]
 ['HINDUNILVR' 5]
 ['GMRINFRA' 5]
 ['VBL' 4]
 ['CESC' 4]
 ['PRESTIGE' 4]
 ['RBLBANK' 4]
 ['PGHH' 3]]
           NAME  LL     CLOSE
191         VBL   5    890.70
134         MRF   3  78308.00
167    SHREECEM   3  28521.95
37     BOSCHLTD   3  13510.30
163      SANOFI   3   7608.35
188  ULTRACEMCO   3   6092.30
120         LTI   3   3915.25
180         TCS   3   3118.80
84      HDFCAMC   3   2783.35
61        DMART   3   2717.60
[['VBL' 5]
 ['MRF' 3]
 ['SHREECEM' 3]
 ['BOSCHLTD' 3]
 ['SANOFI' 3]
 ['ULTRACEMCO' 3]
 ['LTI' 3]
 ['TCS' 3]
 ['HDFCAMC' 3]
 ['DMART' 3]]
           NAME  LHL    CLOSE
191         VBL    4   890.70
163      SANOFI    3  7608.35
84      HDFCAMC    3  2783.35
121        LTTS    3  2551.70
17   ASIANPAINT    3  2511.25
90   HINDUNILVR    3  2349.40
152  PIDILITIND    3  1785.80
48       COLPAL    3  1515.50
6    ADANIGREEN    3  1030.45
181       TECHM    3   967.80
[['VBL' 4]
 ['SANOFI' 3]
 ['HDFCAMC' 3]
 ['LTTS' 3]
 ['ASIANPAINT' 3]
 ['HINDUNILVR' 3]
 ['PIDILITIND' 3]
 ['COLPAL' 3]
 ['ADANIGREEN' 3]
 ['TECHM' 3]]

In [7]:
for h in HEADINGS:
    data_file = pd.read_csv(f"../data/output/negate/daily/{h}.csv")
    write_to_excel(h, NEGATE_EXCEL_MAPPING, data_file)

        NAME  HH   CLOSE
0  SUNPHARMA   4  645.15
1   GLENMARK   4  571.60
[['SUNPHARMA' 4]
 ['GLENMARK' 4]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
         NAME  HL    CLOSE
0      PFIZER   6  5492.35
1  AUROPHARMA   4   987.30
2     SBICARD   4   964.80
3       CIPLA   4   949.30
4    GLENMARK   4   571.60
[['PFIZER' 6]
 ['AUROPHARMA' 4]
 ['SBICARD' 4]
 ['CIPLA' 4]
 ['GLENMARK' 4]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
        NAME  HHL     CLOSE
0   GLENMARK    4    571.60
1      CIPLA    3    949.30
2  SUNPHARMA    2    645.15
3    PAGEIND    1  30248.80
4     MARUTI    1   6646.65
5  EICHERMOT    1   2340.00
6  WHIRLPOOL    1   2149.50
7   RELIANCE    1   1901.15
8    SIEMENS    1   1795.90
9        PEL    1   1704.00
[['GLENMARK' 4]
 ['CIPLA' 3]
 ['SUNPHARMA' 2]
 ['PAGEIND' 1]
 ['MARUTI' 1]
 ['EICHERMOT' 1]
 ['WHIRLPOOL' 1]
 ['RELIANCE' 1]
 ['SIEMENS' 1]
 ['PEL' 1]]
         NAME  LH   CLOSE
0  GODREJAGRO   4  484.95
[['GODREJAGRO' 4]]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
Empty DataFrame
Columns: [NAME, LL, CLOSE]
Index: []
[]
LESS THAN 10 VALUES
LESS THAN 10 VALUES
Empty DataFrame
Columns: [NAME, LHL, CLOSE]
Index: []
[]
LESS THAN 10 VALUES
LESS THAN 10 VALUES

In [8]:
workbook.save(filename=f"../data/output/sheets/{str(TODAY)[:10]}_high_lows.xlsx")